day-2/AI agent workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "559ebd7f-c16b-4f18-ac8b-44a4ea5852bc",
      "name": "Gmail Trigger2",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fn78mMDsswpiW1Bk",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Hello!!How are you?{{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        400,
        0
      ],
      "id": "f582b839-70fd-4dbf-abeb-3a773d64bf02",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "01ede4c9-b1e9-46e8-b29d-ddd7c71622e7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "2xpmg5wRnHHpHguk",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "srinidhigujjari.02@gmail.com",
        "subject": "Greeting",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        752,
        0
      ],
      "id": "51ede77a-8c7f-4fcd-be96-a538f82335db",
      "name": "Send a message",
      "webhookId": "6c8be441-b7c9-4dac-9b33-8d0ee45e3a9d",
      "credentials": {
        "gmailOAuth2": {
          "id": "Fn78mMDsswpiW1Bk",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0d8bdbd1-59c9-4e0f-b0da-4e97061b5740",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b0012ece46322a7511b54f33f9e63f74950bf433be16448ecaeebe717e95b64b"
  },
  "id": "t8Qj4a3ODYZdptwa",
  "tags": []
}